<!DOCTYPE html>
<html>
  <head>
    <link  rel="stylesheet" href="nav.css"> 
    <meta charset="utf-8">
    <title>acceuil</title>
  </head>
  <body>
      <div class="fond">

        <div class="nav">
            <center>
                <img src="logo.png" alt="logo" class="logo">
                <img src="corn.jpeg" alt="popcorn" class="popcorn">
            </center>
        </div>

        <div class="nav1">
            <center>
                <a href="nav.html.twig"><img src="home.png" alt="home" class="home"></a>
                <a href="message.html.twig"><img src="message1.png" alt="message" class="message"></a>
                <a href="parametre.html.twig.html"><img src="para.png" alt="parametre" class="parametre"></a>
                <a href="shopping.html.twig"><img src="shop1.png" alt="panier" class="panier"></a>
                <a href="filtre.html.twig"><img src="filtre.png" alt="filtre" class="filtre"></a>
                <a href="question.html.twig"><img src="quest.png" alt="question" class="question"></a>
                <a href="membre.html.twig"><img src="" alt="membre" class="membre"></a>
            </center>
        </div>

      </div>



      
      <div class="france">
        <div class="titre">Cinéma francais</div> 
        <div class="">
          <center>
            <div class="slide0"><img src="image/francais/image3.png" alt="" /></div>
            <div class="slide0"><img src="image/francais/image20.png" alt="" /></div>
            <div class="slide0"><img src="image/francais/image2.png" alt="" /></div>
            <div class="slide0"><img src="image/francais/image19.png" alt="" /></div>
            <div class="slide0"><img src="image/francais/image18.png" alt="" /></div>
            <div class="slide0"><img src="image/francais/image17.png" alt="" /></div>   
          </center>
        </div>
      </div>

      
      <div class="manquer">
        <div class="titre">A ne pas manquer</div> 
        <div class="">
          <center>
            <div class="slide0"><a href=""><img src="image/a ne pas manquer/image0.png" /></a></div>
            <div class="slide0"><a href=""><img src="image/a ne pas manquer/image1.png" /></a></div>
            <div class="slide0"><a href=""><img src="image/a ne pas manquer/image4.png" /></a></div>
            <div class="slide0"><a href=""><img src="image/a ne pas manquer/image12.png" /></a></div>
            <div class="slide0"><a href=""><img src="image/a ne pas manquer/image13.png" /></a></div>
            <div class="slide0"><a href=""><img src="image/a ne pas manquer/image14.png" /></a></div>
          </center>
        </div>
      </div>

      <div class="categorie">
        <div class="titre">catégorie</div> 
        <div class="">
          <center>
            <div class="slide1"><a href=""><img src="image/categorie/actionaventure.png" /></a></div>
            <div class="slide1"><a href=""><img src="image/categorie/categorie0.png" /></a></div>
            <div class="slide1"><a href=""><img src="image/categorie/documentaire.png" /></a></div>
            <div class="slide1"><a href=""><img src="image/categorie/fantastiquesciencefiction.png" /></a></div>
            <div class="slide1"><a href=""><img src="image/categorie/horreur.png" /></a></div>
          </center>
        </div>
      </div>

      <div class="culte">
        <div class="titre">Culte</div> 
        <div class="">
          <center>
            <div class="slide2"><a href=""><img src="image/culte/image10.png" /></a></div>
            <div class="slide2"><a href=""><img src="image/culte/image11.png" /></a></div>
            <div class="slide2"><a href=""><img src="image/culte/image16.png" /></a></div>
            <div class="slide2"><a href=""><img src="image/culte/image7.png" /></a></div>
            <div class="slide2"><a href=""><img src="image/culte/image22.png" /></a></div>
          </center>
        </div>
      </div>

      <div class="prix">
        <div class="titre">Solde</div> 
        <div class="">
          <center>
            <div class="slide3"><a href=""><img src="image/solde prix/prix0.jpg" /></a></div>
            <div class="slide3"><a href=""><img src="image/solde prix/prix1.jpg" /></a></div>
            <div class="slide3"><a href=""><img src="image/solde prix/prix2.jpg" /></a></div>
          </center>
        </div>
      </div>

      <div class="blockbuster">
        <div class="titre">Blockbuster</div> 
        <div class="">
          <center>
            <div class="slide4"><a href=""><img src="image/Blockbuster/image15.png" /></a></div>
            <div class="slide4"><a href=""><img src="image/Blockbuster/image5.png" /></a></div>
            <div class="slide4"><a href=""><img src="image/Blockbuster/image6.png" /></a></div>
            <div class="slide4"><a href=""><img src="image/Blockbuster/image8.png" /></a></div>
            <div class="slide4"><a href=""><img src="image/Blockbuster/image9.png" /></a></div>
            <div class="slide4"><a href=""><img src="image/Blockbuster/image23.png" /></a></div>
          </center>
        </div>
      </div>



  </body>
</html>